
 
  #app {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  }
  .hide {
    display: none;
  }
  .header {
      width: 100vw;
      height: 30vh;
  }
  .header>img {
      display: block;
      width: 100%;
      height: 100%;
  }
  .container {
  
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    padding: 30px 0;
    height: 600px;
    text-align: center;
    background-color: transparent;
   
  
  }
  .container h1 {
    font-size: 2rem;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
            transition-timing-function: ease-in-put;
    font-weight: 500;
    color: #212121;
  }
  form {
   
    position: relative;
    z-index: 2;
    height: 50%;
   
  }
  .form-area {
    width: 70%;
    height: 50%;
    margin: 50px auto;
  }
  .form-area>div{
    width: 100%;
    height: 6vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
  }
  .form-area>div>span {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 20px;
    /* color: #525252; */
    color: #999;
    z-index: -1;
    display: flex;
    text-align: left;
    text-indent: 2em;
    align-items: center;
    background-color: #efefef;
    transform-origin: left bottom;
    transition:  transform 0.1s ease-in-out;
  }
  .form-area>div>span.active {
    transform: scale(0);
  }
  .form-area>div >div {
    position: absolute;
    bottom: -1.5rem;
    left: 5%;
    color: rgb(251,114,153);
  }
  .form-area>div>i {
   
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 13px;
    z-index: 0;

    color: #525252;
    text-align: left;
    font-style: normal;
    text-indent: 1em;
    transform: scale(0);
    transform-origin: left top;
    transition: transform 0.2s ease-in;
  }
  .form-area>div>i.active {
    transform: none;
  }
  .form-area>div>input.select {
    padding-top: 1vh;
    /* height: 120%; */
  }
  .form-area .btn-area {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
  
  .form-area>div>input {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-left: 15px;
    font-size: 1.3em;
    border: none;
   
  
  
  }

  .form-area .btn-area {
    border: none;
  }
  .form-area .btn-area input {
    width: 100%;
    height: 5vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    box-shadow: 0 0 3px #ccc;
    text-align: center;
    font-size: 1.1rem;
    padding: 0;
    cursor: pointer;
    color: #fff;
    background-color: #00a1d6;
    transition: all 0.2s ease-in;
  }
  
  .form-area .btn-area>input:nth-child(2) {
    margin-right: 0;
  }

  .form-area .tip {
    border: none;
    height: auto;
    line-height: 1.5;
    position: relative;  
    color: #999;
  }
  
  .form-area .tip a:first-child {
      margin-right: 5vw;
  }
  .form-area .tip > a {
      color: #999;
      
  }
  .form-area .tip > .register {
      margin-left: 5vw;
  }
  .back {
    position: absolute;
    left: 5%;
    bottom: 3%;
    color: #999;
    font-size: 1rem;
  }